.approach {
	padding: 25px 0 80px;
	background: url(../images/home-map.jpg) no-repeat center top #fff;
	background-size: 100% auto;

	.bullets {
		@extend .clearfix;
		width: 980px;
		// height: 600px;
		height: 460px;
		margin: 0 auto;
		color: #3c0d2f;
		text-align: center;
		background: url(../images/timeline.png) no-repeat center 140px;
		position: relative;
	}

	.bullet {
		width: calc(100% / 7);
		float: left;
		position: absolute;

		&:hover {
			.bullet-icon,
			.bullet-content {
				opacity: 1;
			}
		}

		&:nth-child(1) {
			left: -55px;
			top: 110px;
		}

		&:nth-child(2) {
			left: 90px;
			top: 200px;
		}

		&:nth-child(3) {
			left: 235px;
			top: 95px;
		}

		&:nth-child(4) {
			left: 445px;
			top: 30px;
		}

		&:nth-child(5) {
			left: 605px;
			top: 110px;
		}

		&:nth-child(6) {
			left: 775px;
			top: 85px;
		}

		&:nth-child(7) {
			left: 895px;
			top: 170px;
		}
	}

	.bullet-icon,
	.bullet-content {	
		opacity: 0;
		@include single-transition(opacity, .25s);
	}

	.bullet-title {
		margin-top: 10px;
		font-size: 19px;
		font-weight: normal;
		font-family: 'Oswald Regular', arial, sans-serif;
		text-transform: uppercase;
	}

	.bullet-content {	
		margin-top: 50px;
		font: bold 13px 'Ebrima', 'Ebrima Webfont', arial, sans-serif;
	}

	.section-title{
		font: bold 47px 'Ebrima', 'Ebrima Webfont', arial, sans-serif;
		color: #3c0d2f;
		text-align: center;
		
		strong {
			display: block;
			margin-top: 5px;
			font: 70px/1 'Oswald Regular', arial, sans-serif;
			text-transform: uppercase;
		}

		em {
			color: #f05c27;
		}
	}

	.section-copy {
		width: 480px;
		margin: 20px auto 0;

		p {
			line-height: 28px;
		}

		.button-container {
			text-align: center;
			margin-top: 25px;
		}

		.button {
			font: 18px/30px 'Oswald Regular', arial, sans-serif;
		}
	}
}
