.banner {
	padding: 80px 0 100px;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .4;
		position: absolute;
		left: 0;
		top: 0;
	}

	.container {
		position: relative;
	}

	.section-title {
		font: 75px/1 'Oswald Regular', arial, sans-serif;
	}

	.section-subtitle {
		margin-top: 10px;
		// font: 30px/1 'Oswald Regular', arial, sans-serif;
		font-weight: bold;
		font-size: 45px;
		line-height: 1;
	}

	.section-content {
		font-size: 18px;
		line-height: 28px;
	}

	p {
		margin-top: 40px;
	}
}