.blog-banner {
	padding: 105px 0;
	background-image: url(../images/blog.jpg);
	
	.section-title {
		width: 740px;
		margin: 0 auto;
		// font: bold 48px/56px 'Ebrima', 'Ebrima Webfont', arial, sans-serif;
		font: 42px/1 'Oswald Book', arial, sans-serif;
		text-align: center;
		text-transform: uppercase;

		em {
			font-family: 'Segoe Print';
		}
	}
}

.blog-content {
	margin-top: 40px;
	border-top: 15px solid #f05c27;
	padding: 40px 0 60px;
	position: relative;

	&:after {
		// Faux column bg
		content: '';
		width: 50%;
		height: 100%;
		background: #e9e4e8;
		position: absolute;
		left: 50%; // 980 / 2 = 460
		top: 0;
		margin-left: 150px; // 630 (article-wrapper width) - 480
		z-index: -1;
	}

	.container {
		@extend .clearfix;
	}

	.entry-title {
		font: 24px/30px 'Oswald Book', arial, sans-serif;
		color: #3d1031;
		text-transform: uppercase;
	}

	.entry-meta {
		font-weight: bold;
		color: #3d1031;

		a {
			color: #f05c27;
			@include single-transition(color, .25s);
			
			&:hover {
				color: #3d1031;
			}
		}
	}

	.entry-content {
		margin-top: 30px;

		h1,h2,h3,h4,h5,h6,
		p,
		ul,ol {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		a {
			color: #f05c27;
			@include single-transition(color, .25s);
			
			&:hover {
				color: #3d1031;
			}
		}

		strong,b { font-weight: bold; }
		em,i { font-style: italic; }

		ul,ol {
			padding-left: 25px;

			p { margin-top: 10px; }
		}

		ul {
			list-style: disc;
		}

		ol {
			counter-reset: list-counter;

			li {
				position: relative;

				&:before {
					content: counter(list-counter, decimal) ')';
					counter-increment: list-counter;
					font-weight: bold;
					position: absolute;
					left: -25px;
					top: 1px;
				}
			}
		}

		li {
			margin-top: 10px;
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;

			& + * {
				margin-top: 10px;
			}
		}

		h1 { font-size: 20px }
		h2 { font-size: 18px }
		h3 { font-size: 16px }
		h4 { font-size: 15px }
		h5 { font-size: 14px }
		h6 { font-size: 13px }

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.nav-previous,
	.nav-next {
		a {
			@extend .button;
		}
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}

	.entry-utility {
		margin-top: 40px;
		white-space: nowrap;
	}
}

.share-toggle {
	display: inline-block;
	height: 50px;
	padding: 0;
	border: none;
	font: 14px 'Oswald Book', arial, sans-serif;
	color: #f05c27;
	text-transform: uppercase;
	background: none;
	cursor: pointer;
	@include single-transition(color, .25s);
	
	&.expanded,
	&:hover {
		color: #3d1031;
	}

	&:focus,
	&:active {
		outline: none;
	}

	&::-moz-focus-inner {
		border: 0;
	}

	&:before {
		@extend .icon-share;
		display: inline;
		margin-right: 5px;
		font-size: 14px;
	}
}
.share {
	display: inline-block;
	vertical-align: top;
	max-width: 0;
	overflow: hidden;
	@include single-transition(max-width, .25s);

	.expanded + & {
		max-width: 600px;
	}


	.ss-button-facebook,
	.ss-button-googleplus,
	.ss-button-twitter,
	.ss-button-linkedin {
		margin-left: 5px;
	}
}

.comment-respond {
	margin-top: 40px;
}

.category-filter {
	@extend .clearfix;
	font: 12px/16px 'Oswald Book', arial, sans-serif;
	text-align: center;
	text-transform: uppercase;

	.cat-item  {
		float: left;
		width: 20%;
		width: calc(100% / 5);
		position: relative;
	}

	a {
		display: block;
		padding-top: 45px;
		color: transparent;
		position: relative;

		&:before,
		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 40px;
			margin: 0 auto;
			background-repeat: no-repeat;
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: -20px;
			@include single-transition(opacity, .25s);
		}

		&:before {
			background-position: center bottom;
			opacity: 0;
		}

		&:after {
			background-position: center top;
		}
	}

	.current-cat a,
	a:hover {
		color: #f15c27;

		&:before {
			opacity: 1;
		}

		&:after {
			opacity: 0;
		}
	}

	.cat-item-industry-buzz {
		a:before,
		a:after {
			background-image: url(../images/sprite-icon-industry-buzz.png);
		}
	}

	.cat-item-agency-news {
		a:before,
		a:after {
			background-image: url(../images/sprite-icon-agency-news.png);
		}
	}

	.cat-item-client-news {
		a:before,
		a:after {
			background-image: url(../images/sprite-icon-client-news.png);
		}
	}

	.cat-item-disruptors-life {
		a:before,
		a:after {
			background-image: url(../images/sprite-icon-disruptors-life.png);
		}
	}

	.cat-item-all {
		font-size: 0;

		a:before,
		a:after {
			content: 'All';
			display: block;
			line-height: 40px;
			border: 1px solid;
			border-radius: 50%;
			font-size: 12px;
		}

		a:before {
			border-color: #f15c27;
			color: #f15c27;
		}
		a:after {
			border-color: #fff;
			color: #fff;
		}

		.single &,
		.blog & {
			color: #f15c27;

			a:before {
				opacity: 1;
			}

			a:after {
				opacity: 0;
			}
		}
	}
}


.article-wrapper,
.sidebar-wrapper {
	float: left;
}

.article-wrapper {
	width: 640px;
	padding-right: 40px;

	.button-container {
		@extend .clearfix;
		margin: 40px 0;
	}
}

.sidebar-wrapper {
	width: 330px;
	padding-left: 40px;
}

.posts-listing {
	.post {
		margin-top: 80px;

		&:first-child {
			margin-top: 50px;
		}
	}

	.post-title {
		font: 21px/28px 'Oswald Book', arial, sans-serif;
		color: #3d1031;
		text-transform: uppercase;

		a {
			color: #3d1031;

			&:hover {
				color: #f05c27;
			}
		}
	}

	.post-excerpt {
		margin-top: 30px;
	}

	.post-meta {
		margin-top: 30px;
		font-weight: bold;
		color: #f05c27;
	}


	.post-comment-count {
		&:before {
			content: "|";
			padding-right: 3px;
		}
	}

	.navigation {
		margin-top: 80px;
		font-size: 0;
		text-align: center;

		.page-numbers {
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			font: 18px/28px 'Oswald Book', arial, sans-serif;
			color: #3d1031;

			&.current,
			&:hover {
				color: #f05c27;
			}
		}

		.next,
		.prev {
			width: 28px;
			height: 28px;
			font-size: 0;
			overflow: hidden;
			color: #f15c27;

			&:hover {
				color: #3d1031;
			}

			&:active,
			&:focus {
				outline: none;
			}

			&:before {
				@extend .icon-circle-down;
				display: block;
				font-size: 26px;
				
				text-align: center;
			}
		}

		.next {
			margin-left: 20px;
			@include transform(rotate(-90deg));
		}

		.prev {
			margin-right: 20px;
			@include transform(rotate(90deg));
		}
	}
}