.cs-banner {
	padding: 70px 0;

	&:before {
		display: none;
	}

	.container {
		display: table;
	}

	.logo-wrapper,
	.section-title {
		display: table-cell;
		vertical-align: middle;
	}

	.section-title {
		font: 48px/60px 'Oswald Regular', arial, sans-serif;
		text-transform: uppercase;

		// Some CS banner titles are too long :-\
		.em_case_study-equitrac & {
			font-size: 32px;
		}
		 .em_case_study-the-company-store & {
		 	font-size: 43px;
		 }

	}

	.cs-logo {
		margin-right: 15px;
	}
}

.cs-challenge {
	padding: 40px 0 60px;

	.section-title {
		font: 32px/1 'Oswald Regular', arial, sans-serif;
		color: #f1561e;
		text-transform: uppercase;
	}

	.section-content {
		font-size: 16px;
		line-height: 26px;
		text-align: justify;

		p,ol,ul {
			margin-top: 20px;
		}
	}
}

.cs-cta {
	padding: 20px 0;
	font: 23px/34px 'Oswald Regular', arial, sans-serif;
	text-transform: uppercase;
	background: #e9eaeb;

	.container {
		display: table;
		width: 100%;
	}

	.logo-wrapper,
	.section-content {
		display: table-cell;
		vertical-align: middle;
	}
}

.cs-cta-1 {
	.cta-img {
		margin-right: 15px;
	}
}

.cs-cta-2 {
	.cta-img {
		margin-left: 15px;
	}
}


.cs-details {
	padding: 40px 0 70px;
	position: relative;
	overflow: hidden;
}

.cs-featured-image {
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -1;
	@include transform( translateY(-50%) );

	// Some images need to be full-height :-\
	.em_case_study-liazon &,
	.em_case_study-equitrac & {
		min-height: 100%;
		width: auto;
		top: 0;
		@include transform( translateY(0) );
	}
}

.cs-details-controls {
	@extend .clearfix;

}

.cs-details-control {
	float: left;

	& + & {
		margin-left: 36px;
	}

	.button {
		padding: 0 24px;
		height: 55px;
		font: 20px/1 'Oswald Regular', arial, sans-serif;
		cursor: pointer;

		&.active {
			background-color: #f1561e;
			color: #fff;
		} 
	}
}

.cs-details-contents {
	width: 470px;
	margin-top: 60px;
}

.cs-details-content {

	.js & {
		display: none;

		&:first-child {
			display: block;
		}
	}

	.section-title {
		font: 32px/1 'Oswald Regular', arial, sans-serif;
		color: #f1561e;
		text-transform: uppercase;
	}

	.section-content {
		margin-top: 20px;
		font-size: 16px;
		line-height: 26px;
		text-align: justify;

		li {
			padding-left: 20px;
			position: relative;

			&:before {
				content:  "\2713";
				display: block;
				font-weight: bold;
				color: #f1561e;
				position: absolute;
				left: 0;
				top: 1px;
			}
		}

		p,ol,ul {
			margin-top: 15px;
		}

		strong,b {
			font-weight: bold;
		}

		em,i {
			font-style: italic;
		}
	}
}

.cs-menu {
	padding: 40px 0;
	position: relative;

	.section-title {
		font: 32px/1 'Oswald Regular', arial, sans-serif;
		color: #f1561e;
		text-transform: uppercase;
	}

	.cs-nav {
		margin-top: 50px;
	}

	.slide {
		height: 70px;

		a,img {
			display: block;
		}

		a {
			height: 100%;
			opacity: .45;
			@include single-transition(opacity, .25s);

			&.active,
			&:hover {
				opacity: 1;
			}
		}

		img {
			height: auto;
			max-height: 100%;
			max-width: 75%;
			margin: 0 auto;
			position: relative;
			top: 50%;
			@include transform( translateY(-50%) );
		}
	}
}