.clients {
	padding: 30px;
	position: relative;

	.section-title,
	.see-more {
		line-height: 1;
		font-family: 'Oswald Book', arial, sans-serif;
		color: #f1561e;
		text-align: center;
		text-transform: uppercase;
	}
	.section-title {
		font-size: 32px;
	}

	.container {
		width: 980px;
		margin: 0 auto;
		font-size: 0;
	}

	.see-more {
		display: block;
		width: 100%;
		margin-top: 30px;
		border: 0;
		font-size: 22px;
		text-align: center;
		background: none;
		position: relative;
		cursor: pointer;
		@include single-transition(opacity, .25s);

		&:hover {
			opacity: .5;
		}

		&:after {
			@extend .icon-circle-down;
			display: block;
			margin-top: 10px;
			font-size: 18px;
		}
	}
}

.client {
	display: inline-block;
	vertical-align: center;
	width: calc(100% / 6);
	margin-top: 20px;
	text-align: center;
	opacity: .5;
	@include single-transition(opacity, .25s);

	&:hover {
		opacity: 1;
	}
}

.acquisitions {
	font: 32px/80px 'Oswald Book', arial, sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background: #f1561e;
}