.contact {
	padding: 60px 0 40px;
	background: url(../images/what-we-do-contact.jpg) no-repeat center center;
	background-size: cover;

	.container {
		width: 880px;
	}
	
	.section-title {
		font: 50px/1 'Oswald Book', arial, sans-serif;
		text-transform: uppercase;
	}

	.wpcf7 {
		margin-top: 40px;
	}
}
