.connect {
	@extend .clearfix;
	width: 880px;
	margin: 0 auto;
	padding: 50px 0;

	img {
		float: right;
	}

	.section-title,
	.section-copy {
		width: 300px;
		float: left;
		text-align: center;
	}

	.section-title {
		font: 42px/1 'Oswald Book', arial, sans-serif;
		color: #f1561e;
		text-transform: uppercase;
	}

	.section-copy {
		margin-top: 20px;
		font-size: 16px;

		a {
			display: block;
			margin-top: 10px;
			color: #000;
			@include transition(color .25s, background-color .25s);

			&:before {
				@extend .icon-envelope;
				display: inline-block;
				vertical-align: middle;
				width: 26px;
				height: 26px;
				border: 1px solid #f05c27;
				border-radius: 50%;
				margin-right: 10px;
				font-size: 16px;
				line-height: 24px;
				color: #f05c27;
			}

			&:hover {
				color: #f15c27;
			}
		}
	}
}