/* Fonts */
@font-face {
    font-family: 'Ebrima Webfont';
    src: url('../fonts/ebrima.eot');
    src: url('../fonts/ebrima.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrima.woff') format('woff'),
         url('../fonts/ebrima.ttf') format('truetype'),
         url('../fonts/ebrima.svg#ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ebrima Webfont';
    src: url('../fonts/ebrima-bold.eot');
    src: url('../fonts/ebrima-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrima-bold.woff') format('woff'),
         url('../fonts/ebrima-bold.ttf') format('truetype'),
         url('../fonts/ebrima-bold.svg#ebrima-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Book';
    src: url('../fonts/oswald-book.eot');
    src: url('../fonts/oswald-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-book.woff2') format('woff2'),
         url('../fonts/oswald-book.woff') format('woff'),
         url('../fonts/oswald-book.ttf') format('truetype'),
         url('../fonts/oswald-book.svg#oswald-book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/oswald-regular.eot');
    src: url('../fonts/oswald-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular.woff2') format('woff2'),
         url('../fonts/oswald-regular.woff') format('woff'),
         url('../fonts/oswald-regular.ttf') format('truetype'),
         url('../fonts/oswald-regular.svg#oswald-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe Print';
    src: url('../fonts/segoe-print.eot');
    src: url('../fonts/segoe-print.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoe-print.woff') format('woff'),
         url('../fonts/segoe-print.ttf') format('truetype'),
         url('../fonts/segoe-print.svg#segoe-print') format('svg');
    font-weight: normal;
    font-style: normal;
}