.site-footer {
	height: 60px;
	background: #f05c27;

	.container {
		height: 100%;
	}

	.primary {
		float: left;

		.menu-item {
			display: inline-block;

			& + .menu-item {
				margin-left: 20px;
			}
		}

		a {
			display: block;
			font-weight: bold;
			font-size: 12px;
			line-height: 60px;
			color: #fff;
			text-transform: uppercase;
		}
	}

	.social {
		float: right;
		text-align: right;
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));

		.menu-item {
			display: inline-block;
			vertical-align: middle;

			& + .menu-item {
				margin-left: 2px;
			}
		}

		a {
			display: block;
			width: 26px;
			height: 26px;
			border: 1px solid #fff;
			border-radius: 50%;
			font-size: 0;
			color: #fff;
			position: relative;
			@include transition(color .25s, background-color .25s);

			&:before {
				width: 100%;
				height: 100%;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				position: absolute;
				left: 0;
				top: 0;
			}

			&:hover {
				background: #fff;
				color: #f05c27;
			}
		}
	}
	.google a:before {
		@extend .icon-googleplus;
	}
	.facebook a:before {
		@extend .icon-facebook;
	}
	.twitter a:before {
		@extend .icon-twitter;
	}
	.linkedin a:before {
		@extend .icon-linkedin;
	}
	.instagram a:before {
		@extend .icon-instagram;
	}
	.email a:before {
		@extend .icon-envelope;
	}
}
