.form-row {
	@extend .clearfix;
	margin-top: 20px;
}

.wpcf7-form-control-wrap {
	display: block;

	& + .wpcf7-form-control-wrap {
		margin-left: 20px;
	}

	.half & {
		float: left;
		width: calc( 50% - 10px );
	}
}

.wpcf7-text,
.wpcf7-email,
.wpcf7-tel,
.wpcf7-date,
.wpcf7-textarea {
	width: 100%;
	border: 0;
	padding: 15px 20px;
	font: 12px/20px arial, sans-serif;
	color: #7b7b7b;
	background: #fff;
}

.wpcf7-submit {
	float: right;
	padding: 0 28px;
	font: 22px/42px 'Oswald Book', arial, sans-serif;
	text-transform: uppercase;
}
