*,
*:before,
*:after {
	@include boxsizing;
}
body {
	min-width: 1200px;
	font: 13px Ebrima, 'Ebrima Webfont', Arial, sans-serif;
	color: #000;
}

a {
	text-decoration: none;

	@include single-transition(color, .25s);
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	padding: 0 5px;
	border: 1px solid #f05c27;
	color: #f05c27;
	text-transform: uppercase;
	background: none;
	@include transition(color .25s, background-color .25s);

	&:hover {
		color: #fff;
		background: #f05c27;
	}

	&.alt {
		color: #fff;
		background: #f05c27;

		&:hover {
			color: #f05c27;
			background: none;
		}
	}

	&.alt-2 {
		// White border to white bg
		border-color: #fff;
		color: #fff;

		&:hover {
			color: #f05c27;
			background: #fff;
		}
	}

	&.alt-3 {
		// Black border to black bg
		border-color: #231f20;
		color: #231f20;

		&:hover {
			color: #fff;
			background: #231f20;
		}
	}
}

sup{
	font-size: .5em;
	vertical-align: top;
}

.apply {
	padding: 40px 0;
	// background: #f15c27;
	background: #891f6f;

	.container {
		width: 880px;
		margin: 0 auto;
		position: relative;
	}

	p {
		width: 640px;
		font: 32px/38px 'Oswald Book', arial, sans-serif;
		color: #fff;
		text-transform: uppercase;
	}

	.button {
		padding: 0 20px;
		border-color: #fff;
		font-size: 16px;
		line-height: 30px;
		font-family: 'Oswald Book', arial, sans-serif;
		color: #fff;
		position: absolute;
		right: 0;
		top: 50%;
		@include transform(translateY(-50%));

		&:hover {
			color: #891f6f;
			background-color: #fff
		}
	}
}