.site-header {
	@extend .clearfix;
	max-width: 980px;
	margin: 0 auto;
	padding: 25px 0 50px;
}

.site-logo {
	float: left;
	margin-top: 15px;
}

.site-navigation {
	float: right;

	a {
		font-weight: bold;
		font-size: 12px;
		color: #f15c22;
	}
	.current-menu-item a,
	a:hover {
		color: #3d1031;
	}

	.social {
		text-align: right;

		.menu-item {
			display: inline-block;

			& + .menu-item {
				margin-left: 2px;
			}
		}

		a {
			display: block;
			width: 26px;
			height: 26px;
			border: 1px solid #f05c27;
			border-radius: 50%;
			font-size: 0;
			position: relative;
			overflow: hidden;
			@include transition(color .25s, background-color .25s);

			&:before {
				width: 100%;
				height: 100%;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				position: absolute;
				left: 0;
				top: 0;
			}

			&:hover {
				background: #f05c27;
				color: #fff;
			}
		}
	}
	.google a:before {
		@extend .icon-googleplus;
	}
	.facebook a:before {
		@extend .icon-facebook;
	}
	.twitter a:before {
		@extend .icon-twitter;
	}
	.linkedin a:before {
		@extend .icon-linkedin;
	}
	.instagram a:before {
		@extend .icon-instagram;
	}
	.email a:before {
		@extend .icon-envelope;
	}

	.primary {
		margin-top: 12px;
		
		.menu-item {
			display: inline-block;
			vertical-align: middle;
			
			& + .menu-item {
				margin-left: 17px;
			}
		}

		a {
			text-transform: uppercase;
		}

		.connect {
			a {
				@extend .button;
			}
		}
	}
}

