.hireology {
	width: 880px;
	margin: 0 auto;
	padding: 60px 0;

	.section-title {
		margin-bottom: 40px;
		font: 36px/1 'Oswald Regular', arial, sans-serif;
		color: #8a2070;
		text-transform: uppercase;
	}
}