.home-banner {
	padding: 180px 0;
	background-image: url(../images/what-we-do-map.jpg);

	&:before {
		background-color: #fff;
		opacity: .7;
	}

	.section-title{
		font: bold 47px 'Ebrima', 'Ebrima Webfont', arial, sans-serif;
		color: #3c0d2f;
		text-align: center;
		
		strong {
			display: block;
			margin-top: 5px;
			font: 70px/1 'Oswald Regular', arial, sans-serif;
			text-transform: uppercase;
		}

		a {
			color: #3c0d2f;
		}

		em {
			color: #f05c27;
		}
	}
}

.featured-slides {
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.awards {
	padding: 60px 0 110px;
	font-size: 0;
	text-align: center;

	.section-title {
		font: 45px/1 'Oswald Regular', arial, sans-serif;
		color: #f05c27;
		text-transform: uppercase;
	}
}

.awards-list {
	@extend .clearfix;
	max-width: 980px;
	margin: 48px auto 0;
	position: relative;
}

.award {
	display: inline-block;
	vertical-align: bottom;
	width: 20%;
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 100%;
		@include filter-gradient(rgba(255,255,255,.5), #ffffff, vertical);
		@include background-image(linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 50%));
	}

	a{
		display: block;
	}

	img {
		display: block;
		margin: 0 auto;

		&:nth-child(2) {
			position: absolute;
			top: 100%;
			left: 50%;
			@include transform(translateX(-50%) scale(-1));
		}
	}
}

.site-map {
	padding: 30px 0;
	background: url(../images/home-map-2.jpg) no-repeat center bottom #fff;
	background-size: 100% auto;
	font-size: 0;
	text-align: center;

	.menu {
		display: inline-block;
		vertical-align: top;
		width: 20%;
	}

	.menu-item {
		font-weight: bold;
		font-size: 10px;
		text-align: left;
		text-transform: uppercase;

		&:first-child{
			font-size: 14px;
		}

		& + .menu-item {
			margin-top: 10px;
		}
	}

	a {
		color: #f15c22;

		&:hover {
			color: #3d1031;
		}
	}
}