@font-face {
	font-family: 'icomoon';
	src:url('../icons/icomoon.eot?-ltzqnx');
	src:url('../icons/icomoon.eot?#iefix-ltzqnx') format('embedded-opentype'),
		url('../icons/icomoon.woff?-ltzqnx') format('woff'),
		url('../icons/icomoon.ttf?-ltzqnx') format('truetype'),
		url('../icons/icomoon.svg?-ltzqnx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon, [class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-googleplus {
	@extend .icon;
	content: "\e600";
}
.icon-facebook {
	@extend .icon;
	content: "\e601";
}
.icon-twitter {
	@extend .icon;
	content: "\e602";
}
.icon-linkedin {
	@extend .icon;
	content: "\e603";
}
.icon-envelope {
	@extend .icon;
	content: "\e604";
}
.icon-circle-down {
	@extend .icon;
	content: "\e605";
}
.icon-share {
	@extend .icon;
	content: "\e606";
}

.icon-instagram {
	@extend .icon;
	content: "\e607";
}
