.journey {
	padding: 80px 0 25px;
	// background: url(../images/home-map.jpg) no-repeat center top #fff;
	// background-size: 100% auto;
	background: url(../images/what-we-do-map.jpg) no-repeat center bottom;
	background-size: cover;
	position: relative;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		@include filter-gradient(#ffffff, rgba(255,255,255,.5), vertical);
		@include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100px,rgba(255,255,255,.5) 100%));
		position: absolute;
		left: 0;
		top: 0;
	}

	.section-title,
	.section-copy {
		position: relative;
	}

	.section-title {
		font: 48px/1 "Oswald Regular",arial,sans-serif;
		text-align: center;
		text-transform: uppercase;

		a {
			color: #3c0d2f;
		}
	}

	.section-copy {
		width: 520px;
		margin: 20px auto 0;
		text-align: center;

		p {
			font-size: 18px;
			line-height: 28px;
		}
	}

	.bullets {
		@extend .clearfix;
		width: 980px;
		// height: 600px;
		height: 460px;
		margin: 0 auto;
		color: #3c0d2f;
		text-align: center;
		background: url(../images/timeline.png) no-repeat center 140px;
		position: relative;
	}

	.bullet {
		width: calc(100% / 7);
		float: left;
		position: absolute;

		&:hover {
			.bullet-icon,
			.bullet-content {
				opacity: 1;
			}
		}

		&:nth-child(1) {
			left: -55px;
			top: 110px;
		}

		&:nth-child(2) {
			left: 90px;
			top: 200px;
		}

		&:nth-child(3) {
			left: 235px;
			top: 95px;
		}

		&:nth-child(4) {
			left: 445px;
			top: 30px;
		}

		&:nth-child(5) {
			left: 605px;
			top: 110px;
		}

		&:nth-child(6) {
			left: 775px;
			top: 85px;
		}

		&:nth-child(7) {
			left: 895px;
			top: 170px;
		}
	}

	.bullet-icon,
	.bullet-content {	
		opacity: 0;
		@include single-transition(opacity, .25s);
	}

	.bullet-title {
		margin-top: 10px;
		font-size: 19px;
		font-weight: normal;
		font-family: 'Oswald Regular', arial, sans-serif;
		text-transform: uppercase;
	}

	.bullet-content {	
		margin-top: 50px;
		font: bold 13px 'Ebrima', 'Ebrima Webfont', arial, sans-serif;
	}
}
