@mixin animation($animation){
	-webkit-animation: $animation;
	-ms-animation: $animation;
	animation: $animation;
}

@mixin animation-delay($animationDelay){
	-webkit-animation-delay: $animationDelay;
	-ms-animation-delay: $animationDelay;
	animation-delay: $animationDelay;
}

@mixin box($radius: 3px, $bgcolor: green, $padding: 50px, $margin: 50px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;	
	border-radius: $radius;
	background-color: $bgcolor;
	padding: $padding;
	margin: $margin;
}

@mixin inset-shadow( $off-x, $off-y, $blur, $spread, $red, $green, $blue, $alpha){
	-webkit-box-shadow: inset $off-x $off-y $blur $spread rgba($red, $green, $blue, $alpha);
	-moz-box-shadow: inset $off-x $off-y $blur $spread rgba($red, $green, $blue, $alpha);
	box-shadow: inset $off-x $off-y $blur $spread rgba($red, $green, $blue, $alpha);
}
 
@mixin gradient($baseColor, $toColor){
	background-color:$baseColor;
	background-image: -moz-linear-gradient(top, $baseColor, $toColor);
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, $baseColor),color-stop(1, $toColor));
	background-image: linear-gradient(top,$baseColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$baseColor}, endColorstr=#{$toColor},GradientType=0 );
}
 
@mixin transform($scale:1, $rotate:0deg, $trans-x:0, $trans-y:0, $skew-x:0, $skew-y:0){	
	-webkit-transform: scale($scale) rotate($rotate) translate($trans-x, $trans-y) skew($skew-x, $skew-y);
	-moz-transform: scale($scale) rotate($rotate) translate($trans-x, $trans-y) skew($skew-x, $skew-y);
	-ms-transform: scale($scale) rotate($rotate) translate($trans-x, $trans-y) skew($skew-x, $skew-y);
	-o-transform: scale($scale) rotate($rotate) translate($trans-x, $trans-y) skew($skew-x, $skew-y);
	transform: scale($scale) rotate($rotate) translate($trans-x, $trans-y) skew($skew-x, $skew-y);
}

@mixin clearfix {
    *zoom:1;
    &:before, &:after {
	    content: " ";
	    display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin boxsizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin mobileHeader($from: #181818, $to: #010101) {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	@include gradient($from, $to);
	border-top: 1px solid #9f9f9f;
	border-bottom: 1px solid #6b6b6b;
	color: $color;
	font-family:"HelveticaNeueW01-75Bold";
}

/* Media queries */
@mixin desktop {
  @media (min-width: 1191px) {
    @content
  }
}

@mixin tablet-landscape {
  @media (max-width: 1190px) {
    @content
  }
}

@mixin tablet {
  @media (max-width: 980px) {
    @content
  }
}

@mixin phone {
  @media (max-width: 767px) {
    @content
  }
}

.visible-desktop {
  @include desktop {
    display: block !important;
  }
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}
