.our-work-banner {
	padding: 60px 0 90px;
	background-image: url(../images/our-work.jpg);
	
	.section-title {
		width: 740px;
		margin: 0 auto;
		font: bold 48px/56px 'Ebrima', 'Ebrima Webfont', arial, sans-serif;
		text-align: center;

		em {
			font-family: 'Segoe Print';
		}
	}
}

.our-work {
	padding: 100px 0 130px;
	position: relative;

	.container {
		width: 880px;
		margin: 0 auto;
	}

	.section-title {
		font: 36px/1 'Oswald Regular', arial, sans-serif;
		color: #8a2070;
		text-transform: uppercase;
	}

	.section-copy {
		width: 560px;
		margin-top: 20px;
		font-size: 16px;
	}
	
	img {
		display: block;
		height: 100%;
		width: auto;
		position: absolute;
		right: 0;
		top: 0;
		opacity: .5;
		z-index: -1;
	}
}

.values {
	padding: 60px 0 0;
	background: url(../images/what-we-do-map.jpg) no-repeat center bottom;
	background-size: cover;
	position: relative;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		@include filter-gradient(#ffffff, rgba(255,255,255,.5), vertical);
		@include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100px,rgba(255,255,255,.5) 100%));
		position: absolute;
		left: 0;
		top: 0;
	}

	.container {
		width: 880px;
		margin: 0 auto;
		position: relative;
	}

	.section-title {
		font: 36px/1 'Oswald Regular', arial, sans-serif;
		color: #8a2070;
		text-transform: uppercase;
	}

	.section-copy {
		width: 660px;
		margin-top: 20px;
	}

	.bullets {
		@extend .clearfix;
		width: 880px;
		height: 400px;
		margin: 0 auto;
		color: #3c0d2f;
		text-align: center;
		background: url(../images/our-work-timeline.png) no-repeat center 120px;
		position: relative;
	}

	.bullet {
		width: 135px;
		float: left;
		position: absolute;

		&:nth-child(1) {
			left: -45px;
			top: 140px;
		}

		&:nth-child(2) {
			left: 80px;
			top: 300px;
		}

		&:nth-child(3) {
			left: 225px;
			top: 155px;
		}

		&:nth-child(4) {
			left: 370px;
			top: 250px;
		}

		&:nth-child(5) {
			left: 525px;
			top: 75px;
		}

		&:nth-child(6) {
			left: 640px;
			top: 235px;
		}

		&:nth-child(7) {
			left: 790px;
			top: 195px;
		}
	}

	.bullet-icon,
	.bullet-content {	
		opacity: 0;
		@include single-transition(opacity, .25s);
	}

	.bullet-title {
		font-size: 14px;
		line-height: 16px;
		font-weight: normal;
		font-family: 'Oswald Regular', arial, sans-serif;
		text-transform: uppercase;
	}

}