.recent-posts {
	text-align: center;

	.section-title {
		font: 28px/70px 'Oswald Book', arial, sans-serif;
		color: #f15c22;
		text-transform: uppercase;
	}

	.posts {
		@extend .clearfix;
		border-left: 1px solid #a5a4a4;
	}

	.post {
		float: left;
		width: 33.3333%;
		width: calc(100% / 3);
		border-right: 1px solid #a5a4a4;
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 40px;
			height: 40px;
			margin: 0 auto;
			background: none no-repeat center bottom;
		}
	}

	.cat-industry-buzz {
		&:before {
			background-image: url(../images/sprite-icon-industry-buzz.png);
		}
	}

	.cat-agency-news {
		&:before {
			background-image: url(../images/sprite-icon-agency-news.png);
		}
	}

	.cat-client-news {
		&:before {
			background-image: url(../images/sprite-icon-client-news.png);
		}
	}

	.cat-disruptors-life {
		&:before {
			background-image: url(../images/sprite-icon-disruptors-life.png);
		}
	}

	.post-title {
		height: 44px; // 2x line-height
		padding: 0 20px;
		margin-top: 30px;
		font: 18px/22px 'Oswald Regular', arial, sans-serif;
		color: #3d1031;
		text-transform: uppercase;
		overflow: hidden;
	}

	.post-meta {
		font-weight: bold;
		font-size: 12px;
		color: #f05c27;
	}

	.post-comment-count {
		&:before {
			content: '|';
			padding-right: 3px;
		}
	}

	.button-container {
		margin-top: 27px;
	}

	.button {
		padding: 0 15px;
		font: 18px/30px 'Oswald Regular', arial, sans-serif;
	}
}