.rw-wrapper {
	position: relative;
	width: 980px;
	margin: 35px auto 65px;
}

.rw-sentence {
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 53px;
    color: #f15c22;
}

.rw-intro {
	position: relative;
	top: 5px;
}

.rw-words {
	display: inline;
	text-indent: 10px;
	
	span {
		@include animation( rotateWord 51s 0s 1 forwards linear );
		opacity: 0;
		overflow: hidden;
		position: absolute;

		&:nth-child(2) { @include animation-delay( 3s ); }
		&:nth-child(3) { @include animation-delay( 6s ); }
		&:nth-child(4) { @include animation-delay( 9s ); }
		&:nth-child(5) { @include animation-delay( 12s ); }
		&:nth-child(6) { @include animation-delay( 15s ); }
		&:nth-child(7) { @include animation-delay( 18s ); }
		&:nth-child(8) { @include animation-delay( 21s ); }
		&:nth-child(9) { @include animation-delay( 24s ); }
		&:nth-child(10) { @include animation-delay( 27s ); }
		&:nth-child(11) { @include animation-delay( 30s ); }
		&:nth-child(12) { @include animation-delay( 33s ); }
		&:nth-child(13) { @include animation-delay( 36s ); }
		&:nth-child(14) { @include animation-delay( 39s ); }
		&:nth-child(15) { @include animation-delay( 42s ); }
		&:nth-child(16) { @include animation-delay( 45s ); }
		&:nth-child(17) { @include animation( finalWord 51s 48s 1 forwards linear ); }
	}

	strong {
		font-family: "Segoe Print";
		line-height: 1.5;
		text-decoration: underline;
	}
}

@-webkit-keyframes rotateWord {
	0% {
		opacity: 0;
	}
	4% {
		opacity: 0;
		@include transform( translateY(-30px) );
	}
	6% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	8% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	10% {
		opacity: 0;
		@include transform( translateY(30px) );
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes rotateWord {
	0% {
		opacity: 0;
	}
	4% {
		opacity: 0;
		@include transform( translateY(-30px) );
	}
	6% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	8% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	10% {
		opacity: 0;
		@include transform( translateY(30px) );
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes rotateWord {
	0% {
		opacity: 0;
	}
	4% {
		opacity: 0;
		@include transform( translateY(-30px) );
	}
	6% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	8% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	10% {
		opacity: 0;
		@include transform( translateY(30px) );
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes finalWord {
	0% {
		opacity: 0;
	}
	4% {
		opacity: 0;
		@include transform( translateY(-30px) );
	}
	6% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	8% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	10% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes finalWord {
	0% {
		opacity: 0;
	}
	4% {
		opacity: 0;
		@include transform( translateY(-30px) );
	}
	6% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	8% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	10% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes finalWord {
	0% {
		opacity: 0;
	}
	4% {
		opacity: 0;
		@include transform( translateY(-30px) );
	}
	6% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	8% {
		opacity: 1;
		@include transform( translateY(0px) );
	}
	10% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
