.services {
	@extend .clearfix;
}

.service-banner {
	padding: 120px 0 140px;
	background-position: center bottom;

	&:before {
		background-color: #fff;
		opacity: .75;
	}

	.section-title {
		text-align: center;
		font-weight: bold;
		font-size: 65px;
		line-height: 1;
		font-family: inherit;

		em {
			font-weight: normal;
			font-family: "Segoe Print";
			line-height: 1.5;
			text-decoration: underline;
		}
	}
}

.service-callout {
	@extend .clearfix;
	padding: 50px 0 60px;
	font-size: 0;
	color: #fff;

	.container {
		width: 980px;
		margin: 0 auto;
	}

	.section-title,
	.section-content {
		display: inline-block;
		vertical-align: middle;
		width: calc( 50% - 35px );
	}

	.section-title {
		margin-right: 70px;
		font: 24px/38px 'Oswald Regular', arial, sans-serif;
		font-size: 48px;
		line-height: 66px;
		text-transform: uppercase;
	}

	.section-content {
		font-size: 16px;
		line-height: 26px;
	}

	p {
		& + p {
			margin-top: 20px;
		}
	}
}

.service-details {
	.container {
		width: 980px;
		padding: 35px 0;
		margin: 0 auto;
	}
}

.service-details-controls {
	@extend .clearfix;

	&.count-5,
	&.count-4 {
		.service-details-control {
			.button {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
	&.count-5 {
		margin: 0 -10px;

		.service-details-control {
			width: calc(20% - 20px);
			margin: 0 10px;
		}
	}

	&.count-4 {
		margin: 0 -35px;

		.service-details-control {
			width: calc(25% - 24px);
			margin: 0 12px;
		}
	}

	&.count-3 {
		margin: 0 -30px;
		
		.service-details-control {
			width: calc(33.333% - 30px);
			margin: 0 15px;
		}
	}

	&.count-2 {
		margin: 0 -35px;
		
		.service-details-control {
			width: calc(50% - 70px);
			margin: 0 35px;
		}
	}
}

.service-details-control {
	float: left;

	& + & {
		margin-left: 20px;
	}

	.button {
		width: 100%;
		height: 60px;
		font: 18px/1 'Oswald Regular', arial, sans-serif;
		background: none;
	}
}

.service-details-contents {
	width: 500px;
	margin-top: 30px;
}

.service-details-content {
	.js & {
		display: none;

		&:first-child {
			display: block;
		}
	}

	.section-title {
		font: 18px/1 'Oswald Regular', arial, sans-serif;
		text-transform: uppercase;
	}

	.section-content {
		margin-top: 20px;
		font-size: 13px;
		line-height: 26px;

		li {
			padding-left: 24px;
			position: relative;

			&:before {
				content: '';
				display: block;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background: #000;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -2px
			}
		}

		p {
			& + p {
				margin-top: 10px;
			}
		}
	}
}

.page-brand {
	$serviceColor: #f19227;
	.service-banner {
		.section-title {
			color: $serviceColor;
		}
	}
	.service-callout {
		background: $serviceColor;
	}
	.service.brand {
		&:after {
			opacity: 1;
		}
		.service-title {
			background: #fff;
			color: $serviceColor;
		}
		.service-copy {
			display: none;
		}
	}
	.service-details-control {
		.button {
			border-color: $serviceColor;
			color: $serviceColor;
			cursor: pointer;

			&:hover,
			&.active {
				color: #fff;
				background-color: $serviceColor;
			}
		}
	}
	.service-details-content {
		.section-title {
			color: $serviceColor;
		}
	}
}

.page-pr {
	$serviceColor: #f15c27;
	.service-banner {
		.section-title {
			color: $serviceColor;
		}
	}
	.service-callout {
		background: $serviceColor;

		.section-title {
			font-size: 36px;
			line-height: 48px;
		}
	}
	.service.pr {
		&:after {
			opacity: 1;
		}
		.service-title {
			background: #fff;
			color: $serviceColor;
		}
		.service-copy {
			display: none;
		}
	}
	.service-details-control {
		.button {
			border-color: $serviceColor;
			color: $serviceColor;

			&:hover,
			&.active {
				color: #fff;
				background-color: $serviceColor;
			}
		}
	}
	.service-details-content {
		.section-title {
			color: $serviceColor;
		}
	}
}

.page-marketing {
	$serviceColor: #09849e;
	.service-banner {
		.section-title {
			color: $serviceColor;
		}
	}
	.service-callout {
		background: $serviceColor;
	}
	.service.marketing {
		&:after {
			opacity: 1;
		}
		.service-title {
			color: $serviceColor;
			background: #fff;
		}
		.service-copy {
			display: none;
		}
	}
	.service-details-control {
		.button {
			border-color: $serviceColor;
			color: $serviceColor;

			&:hover,
			&.active {
				color: #fff;
				background-color: $serviceColor;
			}
		}
	}
	.service-details-content {
		.section-title {
			color: $serviceColor;
		}
	}
}

.page-social {
	$serviceColor: #8a2070;
	.service-banner {
		.section-title {
			color: $serviceColor;
		}
	}
	.service-callout {
		background: $serviceColor;

		.section-title {
			font-size: 38px;
			line-height: 48px;
		}
	}
	.service.social {
		&:after {
			opacity: 1;
		}
		.service-title {
			background: #fff;
			color: $serviceColor;
		}
		.service-copy {
			display: none;
		}
	}
	.service-details-control {
		.button {
			border-color: $serviceColor;
			color: $serviceColor;

			&:hover,
			&.active {
				color: #fff;
				background-color: $serviceColor;
			}
		}
	}
	.service-details-content {
		.section-title {
			color: $serviceColor;
		}
	}
}

.service {
	float: left;
	width: 25%;
	text-align: center;
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		opacity: .5;
		position: absolute;
		left: 0;
		top: 0;
	}

	&.brand {
		&:after,
		.service-copy{
			background-color: #f09227;
		}
	}
	&.pr {
		&:after,
		.service-copy{
			background-color: #f15c27;
		}
	}
	&.marketing {
		&:after,
		.service-copy{
			background-color: #08849e;
		}
	}
	&.social {
		&:after,
		.service-copy{
			background-color: #891f6f;
		}
	}

	&:hover {
		.service-copy {
			opacity: 1;
			z-index: 2;
		}
	}
}

.service-image {
	display: block;
	width: 100%;
	height: auto;
}

.service-title {
	padding: 0 25px;
	font: 40px/70px 'Oswald Regular', arial, sans-serif;
	border: 1px solid #fbe2c6;
	color: #fbe2c6;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	@include transform(translate(-50%, -50%));
}

.service-copy {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	@include single-transition(opacity, .25s);

	p {
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
	}
}
