.slider-main {
	min-width: 980px;
	position: relative;

	.slide {
		// display: none;
		height: 380px;
		padding: 40px 0;
		overflow: hidden;
		position: relative;

		&:first-child {
			display: block;
		}
	}

	.slide-bg {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	.slide-header {
		display: inline-block;
	}

	.slide-title {
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
	}

	.slide-logo {
		display: block;
		margin: 0 auto;

		& + .slide-title {
			margin-top: 20px;
		}
	}

	.slide-content {
		font-size: 14px;
		line-height: 24px;
	}

	.button {
		padding: 0 10px;
		font: 14px/28px 'Oswald Book', arial, sans-serif;
	}

	.slide-case-study {

		&.skrim:after {
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			@include filter-gradient(#ffffff, rgba(255,255,255,0), horizontal);
			// @include background-image(linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%));
			@include background-image(linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 75%));
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
		
		.slide-title {
			padding-right: 30px;
			font: 35px/68px 'Oswald Book', arial, sans-serif;
			color: #fff;
			background: #f15c22;

			&:before {
				content: '';
				display: block;
				// width: calc(50% - 530px);
				width: calc(50% - 490px); // (container width / 2)
				height: 68px;
				background: #f15c22;
				position: absolute;
				left: 0;
			}
			
			& + .slide-logo {
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 20px;
			}
		}

		.slide-logo {
			display: block;
			margin: 0 auto;

			& + .slide-title {
				margin-top: 20px;
			}
		}

		.slide-bg {
			width: auto;
			left: auto;
			right: 0;
		}

		.slide-content {
			width: 600px;
			margin-top: 15px;
			color: #010000;
		}

		.button-container {
			margin-top: 20px
		}
	}

	.slide-blog {
		text-align: center;

		.slide-category {
			font: 14px/30px 'Oswald Book', arial, sans-serif;			
			color: #f15c27;
			text-transform: uppercase;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				margin-right: 10px;
				background-repeat: no-repeat;
				background-position: center bottom;
				background-size: 30px auto;
			}
		}

		.cat-client-news:before,
		.icon-client:before {
			background-image: url(../images/sprite-icon-client-news.png);
		}

		.cat-agency-news:before,
		.icon-agency:before {
			background-image: url(../images/sprite-icon-agency-news.png);
		}

		.cat-industry-buzz:before,
		.icon-industry:before {
			background-image: url(../images/sprite-icon-industry-buzz.png);
		}

		.cat-disruptors-life:before,
		.icon-disruptor:before {
			background-image: url(../images/sprite-icon-disruptors-life.png);
		}

		.slide-title {
			margin-top: 40px;
			font: 25px/30px 'Oswald Book', arial, sans-serif;			
		}

		.slide-content {
			padding: 30px 100px 0;
			border-top: 1px solid #000;
			margin-top: 30px;
		}

		.button-container {
			margin-top: 40px;
		}

		// &:nth-child(odd) {
		// 	background: #f15c27;
		// 	color: #fff;

		// 	.slide-category {
		// 		color: #000;

		// 		&:before {
		// 			background-position: center center;
		// 		}
		// 	}

		// 	.slide-content {
		// 		border-top-color: #fff;
		// 	}

		// 	.button {
		// 		color: #fff;
		// 		border-color: #fff;

		// 		&:hover {
		// 			color: #f15c27;
		// 			background: #fff;
		// 		}
		// 	}
		// }
	}

	.slide-testimonial {
		.container {
			width: 860px;
			height: 100%;
		}

		.slide-content {
			font-size: 21px;
			line-height: 32px;
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
		}

		.testimonial-footer {
			margin-top: 36px;
			font-family: 'Oswald Book', arial, sans-serif;
			color: #f15c27;
			text-align: right;
			text-transform: uppercase;
		}

		.testmonial-attribution {
			display: block;
			margin-bottom: 10px;
		}

		.slide-logo {
			display: inline-block;
		}
	}

	.page-careers & {
		.slide {
			height: 240px;
		}
	}

	.slide-quote {
		background: #8a2070;
		color: #fff;

		.container {
			height: 100%;
		}

		.slide-content {
			@extend .clearfix;
			width: 880px;
			margin: 0 auto;
			font-size: 16px;
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}

	.quote-attribution {
		float: right;
		margin-top: 20px;
		font: 20px/1 'Oswald Regular', arial, sans-serif;
		text-transform: uppercase;
	}

	.slide-custom-culture {
		.slide-header,
		.slide-content {
			width: 580px;
			float: right;
		}

		.slide-header {
			font: 40px/1 'Oswald Regular', arial, sans-serif;
			color: #3c0d2f;
			text-transform: uppercase;
		}

		.slide-content {
			margin-top: 20px;
			font-size: 18px;
			line-height: 28px;
			color: #010101;
		}

		.slide-bg {
			width: auto;
		}
	}

}

.flex-direction-nav {
	li {

	}
}

.flex-prev,
.flex-next {
	width: 40px;
	height: 40px;
	font-size: 0;
	overflow: hidden;
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));

	&:active,
	&:focus {
		outline: none;
	}

	&:before {
		@extend .icon-circle-down;
		display: block;
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		color: #f15c27;
	}
}

.flex-prev {
	left: 40px;
	@include transform(rotate(90deg));

	&:before {
	}
}

.flex-next {
	right: 40px;
	@include transform(rotate(-90deg));

	&:before {
	}
}

.flex-disabled {
	opacity: .1;
	cursor: default;
}