.what-we-do {
	background-image: url(../images/what-we-do-map.jpg);

	&:before {
		opacity: 0.7;
	}

	.section-title,
	.section-subtitle {
		text-align: center;
	}

	.section-title {
		font-size: 56px;
		text-transform: uppercase;
	}

	.section-sub-title {
		font-size: 28px;
	}

	.section-copy {
		font-size: 18px;
	}
}

.testimonial {
	position: relative;
}

.testimonial-background {
	display: block;
	width: 100%;
	height: auto;
}

.testmonial-quote {
	width: 800px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 32px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(translate(-50%, -50%));

	strong {
		display: block;
		font-weight: normal;
		font-family: 'Oswald Book', arial, sans-serif;
		text-transform: uppercase;
	}
}
