.callout {
	.container {
		width: 880px;
	}

	padding: 60px 0;
	color: #fff;
	background: #f15c27;

	.section-title {
		font-weight: bold;
		font-size: 48px;
		text-align: center;

		strong {
			display: block;
			font-weight: normal;
			font-family: 'Segoe Print';
		}
	}

	.section-copy {
		@extend .clearfix;
		margin-top: 90px;
		font-size: 16px;

		p {
			float: left;
			width: 420px;

			& + p {
				float: right;
			}
		}

		strong {
			font-weight: bold;
		}
	}
}

.bio {
	.container {
		min-height: 570px;
		width: 920px;
		padding: 30px 390px 30px 20px;
		margin: 0 auto;
		position: relative;
	}

	.section-copy {
		margin-top: 20px;
		font-size: 16px;
		line-height: 20px;

		p {
			margin-top: 10px;
		}
	}
}

.bio-image {
	position: absolute;
	right: 20px;
	bottom: 0;
}

.bio-name,
.bio-title {
	color: #f1561e;
}

.bio-name {
	margin-bottom: 10px;
	font: 30px/1 'Oswald Book', arial, sans-serif;
	text-transform: uppercase;
}

.bio-title {
	font-weight: bold;
	font-size: 14px;
}

.endorsement {
	padding: 40px 0 20px;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	background: #f1561e;

	.container {
		@extend .clearfix;
		width: 880px;
		margin: 0 auto;
	}
}

.endorsement-name {
	float: right;
	margin-top: 30px;
	font: 18px/1 'Oswald Book', arial, sans-serif;
	text-transform: uppercase;
}

.endorsement-logo {
	float: right;
	clear: right;
	margin-top: 10px;
}

.people {
	margin-top: 80px;

	.section-title {
		margin-bottom: 60px;
		font: 38px/1 'Oswald Book', arial, sans-serif;
		color: #370738;
		text-align: center;
		text-transform: uppercase;
	}

	ul {
		margin: 0 auto;
		padding-bottom: 220px;
		text-align: center;
		position: relative;
	}

	.person {
		display: inline-block;
		
		& + .person {
			margin-left: 10px;
		}

		&:last-child {
			.person-thumbnail {
				border-color: #3d0d30;
			}
		}

		&:hover {
			.person-thumbnail,
			.person-details {
				opacity: 1;
				z-index: 1;
			}
		}
	}

	.person-thumbnail {
		display: block;
		width: 130px;
		height: 130px;
		border: 5px solid #f4f4dd;
		opacity: .5;
		@include single-transition(opacity, .25s);
	}

	.person-details {
		width: 430px;
		margin-left: -215px;
		padding-top: 15px;
		text-align: left;
		position: absolute;
		left: 50%;
		opacity: 0;
		@include single-transition(opacity, .25s);
	}

	.person-name,
	.person-title {
		color: #f1561e;
	}

	.person-name {
		font: 30px/1 'Oswald Book', arial, sans-serif;
		text-transform: uppercase;
	}

	.person-title {
		margin-bottom: 10px;
		font-weight: bold;
	}

	dt {
		float: left;
		margin-right: 3px;
		line-height: 20px;
		font-family: 'Oswald Book', arial, sans-serif;
		text-transform: uppercase;
		position: relative;
		top: 1px;
	}

	p,
	.button {
		margin-top: 10px;
	}

	.button {
		padding: 0 15px;
		font-size: 16px;
		line-height: 28px;
		font-family: 'Oswald Book', arial, sans-serif;
	}
}

.connections {
	padding: 60px 0;

	.container {
		width: 880px;
		margin: 0 auto;
	}

	.section-title {
		margin-bottom: 40px;
		font: 30px/1 'Oswald Book', arial, sans-serif;
		color: #f1561e;
		text-transform: uppercase;
	}

	ul {
		font-size: 0;
		margin: 0 -40px;
	}

	.connection {
		display: inline-block;
		vertical-align: middle;
		width: 140px;
		
		& + .connection {
			margin-left: 20px;
		}
	}

	a,
	img {
		display: block;
	}

	a {
		opacity: .5;
		@include single-transition(opacity, .25s);

		&:hover {
			opacity: 1;
		}
	}

	img {
		margin: 0 auto;
	}
}