@import 
	"mixins",
	"compass/css3";

/* Media queries */
body {
	min-width: 0;
}

@media (max-width: 1200px) {
	.site-header {

		&:before {
			content: '1200';
			display: block;
			width: 100%;
			font-size: 14px;
			text-align: center;
			background: #fff;
			position: fixed;
			left: 0;
			top: 50px;
			z-index: 1;
			display: none;
		}
	}

	body {
		min-width: 0;
	}
	.banner,
	.home-banner {
		padding: 20% 5%;
	}

	.banner {
		p {
			margin-top: 5%;
		}
	}

	.blog-banner {
		height: 240px;
		padding: 0 5%;

		.container {
			height: 100%;
		}

		.section-title {
			width: auto;
			position: relative;
			top: 50%;
			@include transform( translateY(-50%) );
		}
	}

	.our-work-banner {
		padding: 10% 5%;

		.section-title {
			width: auto;
		}
	}

	.cs-banner {
		padding: 5%;
	}

	.service-banner .section-title {
		strong {
			display: block;
		}
	}

	.blog-content {
		padding: 0;

		&:after {
			background: none;
		}
	}

	.article-wrapper,
	.sidebar-wrapper {
		float: none;
		width: auto;
		padding: 10% 5%;
	}

	.sidebar-wrapper {
		background: #e9e4e8;
	}

	.cs-details {
		padding: 5%;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,.75);
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
	}

	.slider-main {
		.slide-case-study {
			&:after {
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				@include filter-gradient(#ffffff, rgba(255,255,255,0), horizontal);
				// @include background-image(linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%));
				@include background-image(linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 75%));
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}
		}		
	}
}

@media (max-width: 980px) {
	.site-header {
		&:before {
			content: '980';
		}
	}

	.site-map {
		padding: 0 5% 5%;
		text-align: center;
		background-size: auto 100%;

		.menu {
			width: 33%;
			margin-top: 5%;
			text-align: left;
		}
	}

	.service {
		width: 50%;
	}

	.testimonial-background {
		width: auto;
		min-width: 800px;
		min-height: 100%;
		position: relative;
		left: 50%;
		@include transform( translateX(-50%) );
	}

	.testmonial-quote {
		width: 90%;
	}

	.apply {
		padding: 5%;

		.container {
			width: auto;
		}

		p {
			width: calc(100% - 100px);
		}
	}


	.awards {
		padding: 5% 0;

		.flex-prev {
			left: 0;
		}

		.flex-next {
			right: 0;
		}
	}

	.callout {
		.container {
			width: auto;
		}

		.section-copy {
			margin-top: 5%;

			p {
				width: 40%;
				margin: 0 5%;
			}
		}
	}

	.bio {
		.container {
			width: auto;
			padding: 490px 20px 30px;
		}
	}

	.bio-image {
		top: 20px;
		right: 20px;
	}

	.clients {
		padding: 5% 0;
		text-align: center;

		.container {
			width: auto;
		}
	}

	.client {
		width: 160px;
	}

	.connect {
		width: auto;
		padding: 5%;

		.section-title,
		.section-copy,
		img {
			width: 50%;
			height: auto;
		}

		img {
			height: auto;
		}
	}

	.connections {
		padding: 5%;

		.container {
			width: auto;
		}

		.section-title {
			margin-bottom: 5%;
			text-align: center
		}

		ul {
			margin: 0;
			text-align: center;
		}

		.connection {
			margin: 5%;
		}
	}

	.contact {
		padding: 5%;

		.container {
			width: auto;
		}

		.wpcf7 {
			margin-top: 5%;
		}
	}

	.wpcf7-form-control-wrap {
		.half & {
			width: calc(50% - 2%);
		}

		& + .wpcf7-form-control-wrap {
			margin-left: 4%;
		}
	}

	.endorsement {
		padding-left: 5%;
		padding-right: 5%;

		.container {
			width: auto;
		}
	}

	.hireology {
		width: auto;
		padding: 5%;

		.section-title {
			margin-bottom: 5%;
		}
	}

	.our-work {
		padding: 10% 5%;

		.container {
			width: auto;
		}

		.section-title,
		.section-copy {
			width: 560px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.people {
		padding: 10% 5% 0;
	}

	.cs-challenge {
		padding: 5%;
	}

	.cs-menu {
		padding: 5% 40px;
	}

	.cs-nav {
		.flex-prev {
			left: 0;
		}

		.flex-next {
			right: 0;
		}
	}

	.cs-details-controls {
		text-align: center;
	}

	.cs-details-control {
		// float: none;
		// display: inline-block;

		& + & {
			margin-left: 5%;
		}

		.button {
			padding: 0 15%;
		}
	}

	.cs-featured-image {
		.em_case_study-equitrac & {
			right: auto;
			left: 50%;
			@include transform( translate(-50%, 0px) );
		}
	}

	.cs-details-contents {
		width: 100%;
		margin: 10% auto 0;
	}

	.service-callout {
		padding: 10% 5%;
	}

	.service-details {
		padding: 5%;

		.container {
			padding: 0;
		}
	}

	.service-details-controls {
		&.count-5,
		&.count-4,
		&.count-3,
		&.count-2,
		&.count-1 {
			margin-top: -2%;
			margin-bottom: -2%;

			.service-details-control {
				margin-top: 2%;
				margin-bottom: 2%;
			}
		}

		&.count-3,
		&.count-2,
		&.count-1 {
			.service-details-control {
				.button {
					font-size: 16px;
					line-height: 20px;
				}
			}
		}

		&.count-5,
		&.count-4 {
			margin-left: -2%;
			margin-right: -2%;

			.service-details-control {
				width: 21%; // 25% - 2%
				margin-left: 2%;
				margin-right: 2%;
			}
		}

		&.count-5,
		&.count-4,
		&.count-3 {
			margin-left: -3%;
			margin-right: -3%;
			
			.service-details-control {
				width: 27.333%; // 33.333% - 6%
				margin-left: 3%;
				margin-right: 3%;
			}
		}

		&.count-2 {
			margin-left: -5%;
			margin-right: -5%;
			
			.service-details-control {
				width: 40%; // 50% - 5%
				margin-left: 5%;
				margin-right: 5%;
			}
		}
	}

	.slider-main {
		.slide {
			height: auto;
		}

		.container {
			padding: 5% 40px;
		}

		.slide-quote,
		.slide-testimonial {
			.slide-content {
				width: auto;
				position: static;
				@include transform( none );
			}
		}

		.slide-custom-culture {
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,.75);
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}

			.slide-header,
			.slide-content {
				width: auto;
				float: none;
			}
		}

		.slide-testimonial {
			.container {
				width: auto;
			}
		}

		.slide-blog {
			.slide-content {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.slide-case-study {
			padding-left: 0;
			padding-right: 0;

			.slide-header {
				max-width: 90%;
			}

			.slide-title {
				padding: 14px 30px;
				line-height: 40px;
			}

			.slide-content,
			.button-container {
				margin-left: 30px;
				margin-right: 30px;
			}

			.slide-content {
				width: 60%;
			}
		}

		.page-careers & {
			.slide {
				height: auto;
			}
		}

		.flex-prev {
			left: 0;
		}

		.flex-next {
			right: 0;
		}
	}

	.journey,
	.values {
		padding: 10% 0;
		background-size: initial;

		&:before {
			height: 390px;
			top: auto;
			bottom: 0;
			@include filter-gradient(#ffffff, rgba(255,255,255,0.5), vertical);
			@include background-image(linear-gradient(top,  rgba(255,255,255,1) 0px,rgba(255,255,255,0.5) 300px));
		}
		
		.section-title,
		.section-copy {
			padding: 0 5%;
		}

		.section-copy,
		.bullets {
			width: auto;
		}

		.bullet {
			float: none;
			@include translateX(-50%);

			&:nth-child(n) {
				left: 50%;
			}
		}
	}

	.journey {
		.bullets {
			height: 1300px;
			background-image: url(../images/timeline-vertical.png);
		}

		.bullet-icon,
		.bullet-content {
			opacity: 1;
		}

		.bullet-content {
			margin-top: 30px;
		}

		.bullet {
			width: auto;

			&:nth-child(1) {
				top: 30px;
			}

			&:nth-child(2) {
				top: 285px;
				margin-left: -65px;
			}

			&:nth-child(3) {
				top: 415px;
				margin-left: 65px;
			}

			&:nth-child(4) {
				top: 530px;
				margin-left: -65px;
			}

			&:nth-child(5) {
				top: 655px;
				margin-left: 65px;
			}

			&:nth-child(6) {
				top: 770px;
				margin-left: -65px;
			}

			&:nth-child(7) {
				top: 1025px;
			}
		}
	}

	.values {
		.container {
			width: auto;
		}

		.bullets {
			height: 1060px;
			background-image: url(../images/our-work-timeline-vertical.png);
		}

		.bullet {
			width: 150px;

			&:nth-child(1) {
				top: 80px;
			}

			&:nth-child(2) {
				top: 255px;
				margin-left: -70px;
			}

			&:nth-child(3) {
				top: 405px;
				margin-left: 70px;
			}

			&:nth-child(4) {
				top: 500px;
				margin-left: -70px;
			}

			&:nth-child(5) {
				top: 625px;
				margin-left: 70px;
			}

			&:nth-child(6) {
				top: 740px;
				margin-left: -70px;
			}

			&:nth-child(7) {
				top: 955px;
			}
		}
	}
}


@media (max-width: 760px) {
	.site-header {
		&:before {
			content: '760';
		}
	}

	.service-details-controls {
		&.count-5,
		&.count-4,
		&.count-3,
		&.count-2,
		&.count-1 {
			margin-left: 0;
			margin-right: 0;
			
			.service-details-control {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.site-header {
		padding: 5% 0 10%;
	}

	.site-logo {
		float: none;
		text-align: center;
	}

	.site-navigation {
		float: none;

		.social,
		.primary {
			text-align: center;
		}

		.social {
			margin-top: 15px;
		}
	}

	.home-banner {
		.section-title {
			font-size: 40px;
			line-height: 45px;

			strong {
				font-size: 50px;
			}
		}
	}

	.cs-banner {
		.logo-wrapper,
		.section-title {
			display: block;
			text-align: center;
		}

		.section-title {
			margin-top: 5%;

			.single-em_case_study & {
				font-size: 48px;
				line-height: 60px;
			}
		}
	}

	.cs-cta {
		padding: 5%;

		.logo-wrapper,
		.section-content {
			display: block;
			text-align: center;
		}
		.logo-wrapper +
		.section-content {
			margin-top: 5%;
		}
	}

	.callout {
		.section-title {
			font-size: 36px;
			line-height: 40px;
		}

		.section-copy {
			p {
				float: none;
				width: 90%;
				margin: 0 auto;

				& + p {
					float: none;
					margin-top: 5%;
				}
			}
		}
	}

	.bio {
		.container {
			padding: 5%;
		}
	}

	.bio-image {
		display: block;
		width: 50%;
		margin: 0 auto;
		position: static;
	}

	.bio-name,
	.bio-title {
		text-align: center;
	}

	.bio-name {
		margin-top: 5%;
	}

	.acquisitions {
		padding: 20px 5%;
		line-height: 40px;
	}

	.apply {
		p {
			display: block;
			width: auto;
			font-size: 26px;
			line-height: 32px;
		}

		.button {
			display: inline-block;
			margin-top: 20px;
			position: static;
			@include transform( translateY(0) );
		}
	}

	.banner {
		.section-title {
			font-size: 54px;
		}
		.section-subtitle {
			font-size: 38px;
			margin-top: 5%;
		}
	}

	.blog-banner {
		.section-title {
			font-size: 36px;
			line-height: 42px;
		}
	}

	.connect {
		.section-title,
		.section-copy,
		img {
			float: none;
			width: auto;
		}

		.section-title {
			font-size: 24px;
			line-height: 30px;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0 auto 5%;
		}
	}

	.connections {
		.section-title {
			font-size: 24px;
			line-height: 30px;
		}
	}

	.contact {
		.section-title {
			font-size: 42px;
			line-height: 50px;
		}
	}

	.our-work-banner {
		.section-title {
			font-size: 42px;
			line-height: 1;
		}
	}

	.service-callout {
		.section-title {
			font-size: 36px;
			line-height: 42px;
		}
	}

	.single-em_case_study {
		.cs-banner {
			.section-title {
				font-size: 36px;
				line-height: 42px;
			}
		}
	}

	.what-we-do {
		.section-title {
			font-size: 46px;
			line-height: 52px;
		}
	}

	.wpcf7-form-control-wrap {
		.half & {
			width: 100%;
		}

		& + .wpcf7-form-control-wrap {
			margin-left: 0;
			margin-top: 20px;
		}
	}

	.site-map {
		.menu {
			width: 33.3333%;
			width: calc(100% / 3);
		}
	}

	.site-footer {
		height: auto;
		padding: 5%;

		.primary,
		.social {
			float: none;
			text-align: center;
		}

		.primary {
			.menu-item {
				margin: 0 10px;

				& + .menu-item {
					margin: 0 10px;
				}
			}
			a {
				line-height: 20px;
			}
		}

		.social {
			margin-top: 5%;
			position: static;
			@include transform( translateY(0) );
		}
	}

	.service {
		width: 100%;
	}

	.recent-posts {
		.post {
			float: none;
			display: block;
			border: 0;
			margin-top: 5%;
			width: auto;

			& + .post {
				margin-top: 10%;
				padding-top: 10%;

				&:after {
					content: '';
					display: block;
					width: 75%;
					height: 1px;
					background: #a5a4a4;
					position: absolute;
					top: 0;
					left: 50%;
					@include transform( translateX(-50%) );
				}
			}
		}
	}

	.our-work {
		.section-title,
		.section-copy {
			width: auto;
			margin: 0;
		}

		.section-copy {
			margin-top: 5%;
		}
	}

	.people {
		.section-title {
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 5%;
		}

		.person-details {
			max-height: 0;
			width: 100%;
			background: #fff;
			overflow: hidden;
			opacity: 1;
			top: auto;
			@include single-transition(max-height, .25s);
		}

		dl {
			padding-bottom: 5%;
		}
	}

	.person {
		&.expanded,
		&:hover {
			.person-details {
				max-height: 300px;
			}
		}
	}

	.service-callout {
		.section-title,
		.section-content {
			display: block;
			width: auto;
		}

		.section-title {
			margin: 0 0 5%;
		}
	}

	.slider-main {
		.slide-case-study {

			&:after {
				background: rgba(255,255,255,.75)
			}

			.slide-logo {
				max-width: 90%;
			}

			.slide-title {
				& + .slide-logo {
					display: block;
					margin: 20px auto 0;
				}
			}

			.slide-content {
				width: auto;
			}
		}
	}
}
@media (max-width: 320px) {
	.site-header {
		&:before {
			content: '320';
		}
	}

	.our-work {
		img {
			right: 50%;
			@include transform( translateX(50%) );
		}
	}

	.site-map {
		padding: 0 10% 10%;

		.menu {
			width: 100%;
			margin: 10% 0 0
		}
	}
}

// .values {
// 	@media (max-width: 980px) {
// 		.bullets {
// 			width: auto;
// 			background-size: 90% auto;
// 		}

// 		.bullet {
// 			width: calc( 100% / 7 );
		
// 			&:nth-child(1) {
// 				left: 0;
// 			}
		
// 			&:nth-child(2) {
// 				left: calc( 100% / 7 );
// 			}
		
// 			&:nth-child(3) {
// 				left: calc( 200% / 7 );
// 			}
		
// 			&:nth-child(4) {
// 				left: calc( 300% / 7 );
// 			}
		
// 			&:nth-child(5) {
// 				left: calc( 400% / 7 );
// 			}
		
// 			&:nth-child(6) {
// 				left: calc( 500% / 7 );
// 			}
		
// 			&:nth-child(7) {
// 				left: calc( 600% / 7 );
// 			}
// 		}
// 	}
// }